
{{extend 'layout.html'}}

<div class='row'>
    
    {{for device in user_devices:}}
    <div class="col-md-4 col-sm-4">
        <div class="tile-box tile-box-alt mrg20B bg-user">
            <div class="tile-header">{{=device[2]}}</div>
            <div class="tile-content-wrapper"><i class="glyph-icon fa-tachometer"></i>
                <div class="tile-content"> {{=device[4]}}</div>
            </div>
            <a href="{{=URL('default','dev_control', args=device[0])}}" class="tile-footer tooltip-button" data-placement="bottom" title="" data-original-title="Device">View Controller
            <i class="glyph-icon fa-cog"></i>
            </a>
        </div>
    </div>
    {{pass}}

    <h3>
        Add your device: <a href="{{=URL('add_device')}}">click</a>
    </h3>
</div>


<script type="text/javascript">
    $(document).ready(function() {
    $('#device-status').DataTable( {
        responsive:     true,
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        dom: 'lfBrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        responsive: {
            details: {
                type: 'column',
                target: 'tr'
            }
        },
        columnDefs: [
        {
            className: 'control',
            responsivePriority: 1,
            orderable: false,
            targets:   0
        },
        {
            responsivePriority: 2,
            targets: 1
        },
        {
            responsivePriority: 3,
            targets: -1
        },
        {
            responsivePriority: 4,
            targets: -2
        }
        ],
        order: [ 1, 'asc' ]
    } );
    } );
</script>