{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block center}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Add your device: <a href="{{=URL('add_device')}}">click</a>
                </h3>
                <div>
                    <table class="table border">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for device in user_devices:}}
                            <tr>
                                <td><a href="{{=URL('default','dev_control', args=device[0])}}">{{=device[1]}}</a></td>
                                <td>{{=device[2]}}</td>
                                <td>{{=device[4]}}</td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{end}}
